<a href="https://colab.research.google.com/github/kuan1107/0921/blob/master/4_%E5%BB%BB%E5%9C%88loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

20200930

In [ ]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
list3=range(-4,5,2)
print(list(list3))
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]
[-4, -2, 0, 2, 4]

In [ ]:
for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [ ]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [ ]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

In [ ]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

請輸入一個正整數:30
435

In [ ]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

In [ ]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：20
20!=2432902008176640000

In [ ]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

請輸入正整數：30
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

In [ ]:
for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
for x in range(0,19,2):
  print(x)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for x in range(20,11,-1):
  print(x)

20
19
18
17
16
15
14
13
12

In [ ]:
for x in range(0,19,-1):
  print(x)

In [ ]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

0 03 036 0369 036912 03691215 0369121518

In [ ]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

0 3 6 9 12 15 18

In [ ]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:11111
1111.1000000000001
1111.1000000000001

In [ ]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  #  if (fruit==""):
  #      break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

請輸入喜歡的水果(Enter 結束)：香蕉
香蕉 在串列中的第 1 項